# Globally ignored folder names
node_modules
coverage
.nyc_output
build
/lib/

# Logs
*.log

# IDE specific
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
.idea

# Package stuff
packages/**/lib
packages/**/dist

# Typescript
*.tsbuildinfo

# Eslint cache
.eslintcache