:root{
  --ifm-color-primary: #7836e7;
  --ifm-color-primary-dark: #671de4;
  --ifm-color-primary-darker: #611ad8;
  --ifm-color-primary-darkest: #5015b2;
  --ifm-color-primary-light: #894fea;
  --ifm-color-primary-lighter: #925cec;
  --ifm-color-primary-lightest: #ab82f0;
}
