version: 2.1

executors:
  env-node10:
    working_directory: ~/repo
    docker:
      - image: circleci/node:10-stretch

  env-node12:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12-stretch

  env-integration10:
    working_directory: ~/repo
    docker:
      - image: circleci/node:10-stretch
      - image: snowypowers/neo-privatenet:v3.0.0-head

  env-integration12:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12-stretch
      - image: snowypowers/neo-privatenet:v3.0.0-head

commands:
  run-unittest:
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: mkdir reports
      - run:
          name: Unit Tests
          environment:
            JEST_JUNIT_OUTPUT_DIR: reports/unit
            JEST_JUNIT_OUTPUT_NAME: results.xml
          command: yarn test:unit --ci --runInBand --detectOpenHandles --reporters="jest-junit" --reporters="default"
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports

  run-integrationtest:
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Test privatenet
          command: |
            curl -d '{"jsonrpc": "2.0","method": "getversion", "params": [],"id": 3}' -H 'Content-Type: application/json' http://localhost:20332
            curl -d '{"jsonrpc": "2.0","method": "getnep5transfers", "params": ["NMPAXGtMfZ8s8rcfP9JhrYrNeZHG4xSVmd"],"id": 3}' -H 'Content-Type: application/json' http://localhost:20332
      - run: mkdir reports
      - run:
          name: Integration Tests
          environment:
            JEST_JUNIT_OUTPUT_DIR: reports/integration
            JEST_JUNIT_OUTPUT_NAME: results.xml
          command: yarn test:integration --ci --runInBand --detectOpenHandles --reporters="jest-junit" --reporters="default"
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports

jobs:
  setup:
    executor: env-node10
    steps:
      - run:
          name: "Versions"
          command: |
            node --version
            npm --version
            yarn --version
            git --version
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - neon-yarn-{{ checksum "yarn.lock" }}
            - neon-fallback
      - run:
          name: node hid compilation requirements
          command: sudo apt-get -y install libusb-1.0-0-dev libusb-1.0-0 libudev-dev
      - run: yarn install --cache-folder .cache/yarn
      - save_cache:
          key: neon-yarn-{{ checksum "yarn.lock" }}
          paths:
            - .cache/yarn
      - run:
          name: Bootstrap
          command: yarn bootstrap
      - run:
          name: Build
          command: yarn build && yarn dist
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
            - packages

  lint:
    executor: env-node10
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: mkdir reports && mkdir reports/lint
      - run:
          name: Lint
          command: |
            CURRENT_BRANCH=$(git symbolic-ref -q --short HEAD)
            BASE_BRANCH=$(node helpers/getBaseBranch.js $CIRCLE_PULL_REQUEST)
            git checkout --track origin/$BASE_BRANCH
            git checkout $CURRENT_BRANCH
            echo "Finding files to lint"
            FILES=$(git diff --name-only --diff-filter=bd $(git merge-base HEAD $BASE_BRANCH) | grep '^packages/.*\.[tj]s$') || true
            [ -z "$FILES" ] && echo "No files found" && exit 0
            echo "Found:"
            echo $FILES
            yarn run eslint --max-warnings 0 --format junit -o reports/lint/lint.xml $FILES
      - run:
          name: Format docs
          command: yarn lint:docs
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports

  unittest-node10:
    executor: env-node10
    steps:
      - run-unittest

  unittest-node12:
    executor: env-node12
    steps:
      - run-unittest

  integrationtest-node10:
    executor: env-integration10
    steps:
      - run-integrationtest

  integrationtest-node12:
    executor: env-integration12
    steps:
      - run-integrationtest

  publish-latest:
    executor: env-node10
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Login to npm
          command: npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
      - run:
          name: Publish to npm
          command: yarn release:latest --yes

  publish-next:
    executor: env-node10
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Login to npm
          command: npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
      - run:
          name: Publish to npm
          command: yarn release:next --yes

  publish-docs:
    executor: env-node10
    steps:
      - checkout
      - run:
          name: install aws cli
          command: |
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
      - run:
          name: Build and release docs
          command: |
            cd website
            yarn install
            yarn run release

workflows:
  version: 2
  build_and_test:
    jobs:
      - setup:
          filters:
            branches:
              ignore: gh-pages
              only: /pull\/.*/
            tags:
              ignore: /.*/
      - lint:
          requires:
            - setup
      - unittest-node10:
          requires:
            - setup
      - unittest-node12:
          requires:
            - setup
      - integrationtest-node10:
          requires:
            - lint
            - unittest-node10
      - integrationtest-node12:
          requires:
            - lint
            - unittest-node12

  publish:
    jobs:
      - setup:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+\.[0-9]+\.[0-9]+-next.*/
      - publish-next:
          requires:
            - setup
          filters:
            branches:
              only: next
            tags:
              only: /v[0-9]+\.[0-9]+\.[0-9]+-next.*/

  update-docs:
    jobs:
      - approve-update:
          type: approval
          filters:
            branches:
              only: next
      - publish-docs:
          context: aws
          requires:
            - approve-update
