defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10-stretch

integration: &integration
    working_directory: ~/repo
    docker:
      - image: circleci/node:10-stretch
      - image: snowypowers/neo-privatenet:v3.0.0-preview2

version: 2
jobs:
  setup:
    <<: *defaults
    steps:
      - run:
          name: "Versions"
          command: |
            node --version
            npm --version
            yarn --version
            git --version
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - neon-yarn-{{ checksum "yarn.lock" }}
            - neon-fallback
      - run: yarn install --cache-folder .cache/yarn
      - save_cache:
          key: neon-yarn-{{ checksum "yarn.lock" }}
          paths:
            - .cache/yarn
      - run:
          name: Bootstrap
          command: yarn bootstrap
      - run:
          name: Build
          command: yarn build && yarn dist
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
            - packages

  lint:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: mkdir reports && mkdir reports/lint
      - run:
          name: Lint
          command: |
            CURRENT_BRANCH=$(git symbolic-ref -q --short HEAD)
            BASE_BRANCH=$(node helpers/getBaseBranch.js $CIRCLE_PULL_REQUEST)
            git checkout --track origin/$BASE_BRANCH
            git checkout $CURRENT_BRANCH
            echo "Finding files to lint"
            FILES=$(git diff --name-only --diff-filter=bd $(git merge-base HEAD $BASE_BRANCH) | grep '^packages/.*\.[tj]s$') || true
            [ -z "$FILES" ] && echo "No files found" && exit 0
            echo "Found:"
            echo $FILES
            yarn run eslint --max-warnings 0 --format junit -o reports/lint/lint.xml $FILES
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports

  unit-test:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: mkdir reports
      - run:
          name: Unit Tests
          environment:
            JEST_JUNIT_OUTPUT_DIR: reports/unit
            JEST_JUNIT_OUTPUT_NAME: results.xml
          command: yarn test:unit --ci --runInBand --reporters="jest-junit" --reporters="default"
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports

  integration-test:
    <<: *integration
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: curl -d '{"jsonrpc": "2.0","method": "getversion", "params": [],"id": 3}' -H 'Content-Type: application/json' http://localhost:20332
      - run: mkdir reports
      - run:
          name: Integration Tests
          environment:
            JEST_JUNIT_OUTPUT_DIR: reports/integration
            JEST_JUNIT_OUTPUT_NAME: results.xml
          command: yarn test:integration --ci --runInBand --reporters="jest-junit" --reporters="default"
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports

  publish-latest:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Login to npm
          command: npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
      - run:
          name: Publish to npm
          command: yarn release:latest --yes

  publish-next:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Login to npm
          command: npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
      - run:
          name: Publish to npm
          command: yarn release:next --yes

workflows:
  version: 2
  build_and_test:
    jobs:
      - setup:
          filters:
            branches:
              ignore: gh-pages
              only: /pull\/.*/
            tags:
              ignore: /.*/
      - lint:
          requires:
            - setup
      - unit-test:
          requires:
            - setup
      - integration-test:
          requires:
            - lint
            - unit-test
  publish:
    jobs:
      - setup:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - publish-latest:
          requires:
            - setup
          filters:
            branches:
              only: master
            tags:
              only: /v[0-9]+\.[0-9]+\.[0-9]+$/
      - publish-next:
          requires:
            - setup
          filters:
            branches:
              only: next
            tags:
              only: /v[0-9]+\.[0-9]+\.[0-9]+-next.*/
